<div>
  <%= form_with(model: record) do |form| %>
    <% if record.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(record.errors.count, "error" ) %> prohibited this record type from being saved:
        </h2>
        <ul>
          <% record.errors.each do |error| %>
            <li>
              <%= error.full_message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>

    <% if record.new_record? %>
      <div class="form-group">
        <%= form.label :template %>
        <%= form.select :template, Collection::TEMPLATES, {include_blank: true}, class: "form-control"%>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit :save, class: "btn btn-success container-fluid mt-3" %>
    </div>

    <% unless record.new_record? %>
      <div class="col">
        <%= link_to "Delete", collection_path(record), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger container-fluid" %>
      </div>
    <% end %>
  <% end %>
</div>
