<div>
  <%= form_with(model: collection) do |form| %>
    <% if collection.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(collection.errors.count, "error" ) %> prohibited this collection type from being saved:
        </h2>
        <ul>
          <% collection.errors.each do |error| %>
            <li>
              <%= error.full_message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>

    <div class="actions">
      <%= form.submit :save, class: "btn btn-success container-fluid mt-3" %>
    </div>
  <% end %>
</div>
