<div class="notes-ticketWrapper">
  <div class="d-flex justify-content-between">
    <h5><%= ticket.title %></h5>
    <%= link_to edit_ticket_path(ticket) do %>
      <i class="fas fa-edit ms-2"></i>
    <% end %>
  </div>

  <p><%= ticket.description %></p>
  <div class="row m-0 p-0">
  <% sort_feature_groups(ticket.feature_groups).each do |feature_group| %>
    <div class="col">
      <h4><%= feature_group[:feature_type] %></h4>
      <% feature_group[:features].each do |feature| %>
        <h6><%= feature[:name] %></h6>
        <% if feature[:text].present? %>
          <p><%= feature[:text] %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
