<div class="notes-ticketWrapper">
  <div class="d-flex justify-content-between">
    <h4><%= ticket.title %></h4>
    <%= link_to edit_ticket_path(ticket) do %>
      <i class="fas fa-edit ms-2"></i>
    <% end %>
  </div>

  <hr class="mt-0">
  <p class="ticket-description"><%= ticket.description %></p>

  <hr>

  <% if ticket.feature_groups.any? %>

    <p>Tags <i class="fas fa-tags sm-icon"></i></p>

    <div class="ticket-featureContainer mt-2">
      <% sort_feature_groups(ticket.feature_groups).each do |feature_group| %>
        <%= render partial: "feature_group", locals: {feature_group: feature_group} %>
      <% end %>
    </div>

    <hr>

  <% end %>

  <div class="d-flex justify-content-between">
    <small class="m-0 text-secondary"><%= ticket.date %></small>
    <small class="m-0 text-secondary"><%= ticket.start_time %></small>
  </div>
</div>
