<%= content_for :scripts do %>
  <%= javascript_pack_tag "chart" %>
<% end %>

<h2>Tickets</h2>

<div class="container-fluid mt-3">
  <%= link_to "New ticket", new_ticket_path, class: "btn btn-primary" %>
  <hr class="mb-0">
</div>

<div class="white-container row p-4 m-4">

  <h4 class="p-0">Sort</h4>

  <hr class="mb-0">

  <div class="col-2 m-0 p-0 pe-3 pt-3 border-right">
    <h4>Filter</h4>
    <%= form_with url: notes_path, method: :get do |form| %>

      <% @feature_types.each do |feature_type| %>
        <%= render partial: "checkbox_search", locals: { feature_type: feature_type, searched: [] } %>
        <%= form.select :and_or, options_for_select(["And", "Or"]), {}, class: "form-control p-1 mt-2" %>
        <hr>
      <% end %>

      <%= form.label :start_date %>
      <%= form.date_field :date %>
      <%= form.label :end_date %>
      <%= form.date_field :date %>
      <%= form.submit "Search", class: "btn btn-success mt-3" %>
    <% end %>
  </div>

  <div class="col-10 m-0 p-0 ps-3">

    <% if @tickets.any? %>
      <% @tickets.each do |ticket| %>
        <%= render partial: "ticket", locals: {ticket: ticket} %>
      <% end %>
    <% else %>
    <p class="text-secondary m-0 mt-3">No tickets found.</p>
    <% end %>
  </div>
</div>
