<h2>Notes</h2>

<div class="white-container p-4 m-4">
<table class="table ticket-table">

  <tr>
    <th>Ticket ID</th>
    <th>Category</th>
    <th>Description</th>
    <th>Members</th>
    <th>Subjects</th>
    <th>Duration</th>
    <th>Date</th>
  </tr>

  <% @tickets.each do |ticket| %>
    <tr>
      <td><b>#<%= ticket.id %></b></td>
      <td>
        <div class="d-flex justify-content-start align-items-center">
          <div class="category-block me-2" style="background-color:<%= ticket.category.colour %>;"></div>
          <%= ticket.category.name %>
        </div>
      </td>
      <td><%= ticket.description.truncate(100) %></td>
      <td></td>
      <td></td>
      <td><%= ticket&.duration %> Mins</td>
      <td><%= ticket&.date&.strftime("%d %B %Y") %></td>
    </tr>
  <% end %>

</table>
</div>
