<h2>Notes</h2>

<div class="white-container p-4 m-4">
<table class="table ticket-table">

  <tr>
    <th>Ticket ID</th>
    <th>Category</th>
    <th>Description</th>
    <th>Members</th>
    <th>Subjects</th>
    <th>Duration</th>
    <th>Date</th>
  </tr>

  <% @tickets.each do |ticket| %>
    <tr onclick="window.location='<%= edit_ticket_path(ticket) %>'">
      <td><b>#<%= ticket.id %></b></td>
      <td>
        <div class="d-flex justify-content-start align-items-center">
          <div class="category-block me-2" style="background-color:<%= ticket.category.colour %>;"></div>
          <%= ticket.category.name %>
        </div>
      </td>
      <td><%= ticket.description.truncate(100) %></td>
      <td>
        <% ticket.member_groups.each do |member_group| %>
          <%= render partial: "shared/member", locals: {member_group: member_group} %>
        <% end %>
      </td>
      <td class="notes-subjectContainer">
        <% ticket.subject_groups.each do |subject_group| %>
          <span><%= subject_group.subject.name %> </span>
        <% end %>
      </td>
      <td><%= ticket&.duration %> Mins</td>
      <td><%= ticket&.date&.strftime("%d %B %Y") %></td>
    </tr>
  <% end %>

</table>
</div>
