<div>
  <%= form_with(model: feature_type) do |form| %>
    <% if feature_type.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(feature_type.errors.count, "error" ) %> prohibited this feature type from being saved:
        </h2>
        <ul>
          <% feature_type.errors.each do |error| %>
            <li>
              <%= error.full_message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= form.label :colour %>
      <%= form.color_field :colour, class: "form-control", required: true %>
    </div>

    <div class="actions">
      <%= form.submit :save, class: "btn btn-success container-fluid mt-3" %>
    </div>

    <% unless feature_type.new_record? %>
    <div class="col">
      <%= link_to "Delete", feature_type_path(feature_type), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger container-fluid" %>
    </div>
    <% end %>

  <% end %>
</div>
