<h1>CMS</h1>

<div class="row m-0 p-0">

  <div class="col-3 border-right">
    <div class="cmsEntity-container cms-subjects">
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="m-0"><b>Subjects</b></h6>
        <span><%= @subjects.count %></span>
      </div>
    </div>
  </div>


  <div class="col-3 border-right">

    <%= render partial: "categories/form", locals: { category: @category } %>

    <div class="cmsEntity-container cms-category">
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="m-0"><b>Categories</b></h6>
        <span><%= @categories.count %></span>
      </div>
    </div>


    <% @categories.each do |category| %>
      <%= render partial: "category", locals: { category: category } %>
    <% end %>

  </div>


  <div class="col-3 border-right">
    <div class="cmsEntity-container cms-members">
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="m-0"><b>Members</b></h6>
        <span><%= @members.count %></span>
      </div>
    </div>
  </div>


</div>
