<h1>CMS</h1>

<div class="row m-0 p-0">

  <div class="col-3 border-right">
    <div class="cmsEntity-container cms-subjects">
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="m-0"><b>Subjects</b></h6>
        <span><%= @subjects.count %></span>
      </div>
    </div>

    <div class="cmsEntity-container d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#newSubject" aria-expanded="false" aria-controls="newSubject">
      <h6 class="m-0"><b>New</b></h6>
      <span>+</span>
    </div>
    <div class="collapse mb-3" id="newSubject">
      <div class="">
        <%= render partial: "subjects/form", locals: { subject: @subject } %>
      </div>
    </div>

    <div class="arrow-divider arrow-divider-body mb-5"></div>

    <% @subjects.each do |subject| %>
      <%= render partial: "subject", locals: { subject: subject } %>
    <% end %>

  </div>


  <div class="col-3 border-right">

    <div class="cmsEntity-container cms-category">
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="m-0"><b>Categories</b></h6>
        <span><%= @categories.count %></span>
      </div>
    </div>

    <div class="cmsEntity-container d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#newCategory" aria-expanded="false" aria-controls="newCategory">
      <h6 class="m-0"><b>New</b></h6>
      <span>+</span>
    </div>
    <div class="collapse mb-3" id="newCategory">
      <div class="">
        <%= render partial: "categories/form", locals: { category: @category } %>
      </div>
    </div>

    <div class="arrow-divider arrow-divider-body mb-5"></div>

    <% @categories.each do |category| %>
      <%= render partial: "category", locals: { category: category } %>
    <% end %>

  </div>

  <div class="col-3 border-right">
    <div class="cmsEntity-container cms-members">
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="m-0"><b>Members</b></h6>
        <span><%= @members.count %></span>
      </div>
    </div>

    <div class="cmsEntity-container d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#newMembers" aria-expanded="false" aria-controls="newMembers">
      <h6 class="m-0"><b>New</b></h6>
      <span>+</span>
    </div>
    <div class="collapse mb-3" id="newMembers">
      <div class="">
        <%= render partial: "categories/form", locals: { category: @category } %>
      </div>
    </div>

    <div class="arrow-divider arrow-divider-body mb-5"></div>


  </div>

</div>
