<div class="calendar-ticket" style="
top:<%= ticket_position(ticket) %>px;
height:<%= ticket.duration %>px;
background-color: <%= ticket.category.colour %>;">
  <div class="calendarTicket-wrapper">
    <h6 class="calendar-title"><%= ticket.category.name %></h6>
    <%= ticket.description %>
    <%= ticket.start_time.strftime("%H: %M") %>
    <%= ticket.duration %> Mins
  </div>
</div>
