<div class="calendar-ticket" style="top:<%= ticket_position(ticket) %>px; height:<%= ticket.duration %>px;">
  <%= ticket.title %>
  <%= ticket.description %>
  <%= ticket.start_time.strftime("%H: %M") %>
  <%= ticket.duration %> Mins
</div>
