<%= content_for :scripts do %>
  <%= javascript_pack_tag "chart" %>
<% end %>


<div class="row m-0 p-0">
  <div class="col-12 col-lg-9 order-2 order-lg-1 m-0 p-0">

    <div class="row m-0 px-4">
      <div class="col-12 d-flex justify-content-between align-items-center p-0 py-3 m-0 homeSearch-container">
        <h4 class="m-0 p-0">Dashboard</h4>
        <div class="search-container">
          <input type="text" placeholder="Search anything...">
          <button>
            <%= image_tag("icons/search_icon.png") %>
          </button>
        </div>
      </div>

      <%= render partial: "calendar" %>
    </div>

  </div>
  <div class="col-12 col-lg-3 order-1 order-lg-2 rightSide-container">

    <div class="profileDetails-container">
      <div>
        <h6 class="profileDetails-name"><b><%= current_user.email %></b></h6>
        <p class="profileDetails-jobTitle">Web developer</p>
      </div>
      <%= image_tag("icons/home_icon.png") %>
    </div>

    <%= form_with url: root_path, method: :get do |form| %>
      <%= form.date_field :start_date, class: "form-control", value: @start_date %>
      <%= form.submit :Search, class: "btn-primary mt-3" %>
    <% end %>



    <div class="arrow-divider"></div>

    <%= render partial: "week_information" %>

  </div>

</div>
