
<%= form_with(model: ticket) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(ticket.errors.count, "error" ) %> prohibited this ticket from being saved:
      </h2>
      <ul>
        <% ticket.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

      <%= form.hidden_field :date, value: date %>

    <div class="form-group">
      <%= form.label :category %>
      <%= form.select :category_id, Category.where(user: current_user).map{ |c| [c.name, c.id] }, {}, id: "category#{day}", class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control", id: "description#{day}", required: true %>
    </div>

    <div class="d-flex justify-content-between">
      <div class="form-group container-fluid p-0 pe-3">
        <%= form.label :start_time %>
        <%= form.time_field :start_time, class: "form-control", id: "startTime#{day}", value: Time.now, required: true %>
      </div>

      <div class="form-group container-fluid p-0">
        <%= form.label :duration %>
        <%= form.range_field :duration, min: 0, max: 180, step: 5, value: 30, class: "duration-input", id: "durationInput#{day}", required: true %>
        <span id="durationInput<%= day %>Container">30</span> Mins
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-6 m-0 p-0">
        <label>Members</label>
      </div>
      <div class="col-6 m-0 p-0">
        <label>Subjects</label>

      </div>
    </div>


    <div class="actions mt-3">
      <%= form.submit class: "btn btn-success container-fluid" %>
    </div>
<% end %>

