<%= content_for :scripts do %>
  <%= javascript_pack_tag "duration" %>
<% end %>

<%= form_with(model: ticket) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(ticket.errors.count, "error" ) %> prohibited this ticket from being saved:
      </h2>
      <ul>
        <% ticket.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

      <% date = date || ticket&.date %>
      <% day = day || "edit" %>

      <%= form.hidden_field :date, value: date %>

    <div class="form-group">
      <%= form.label :category %>
      <%= form.select :category_id, Category.where(user: current_user).map{ |c| [c.name, c.id] }, {}, id: "category#{day}", class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control large-textArea", id: "description#{day}", required: true %>
    </div>

    <div class="d-flex justify-content-between">
      <div class="form-group container-fluid p-0 pe-3">
        <%= form.label :start_time %>
        <%= form.time_field :start_time, class: "form-control", id: "startTime#{day}", value: ticket.start_time&.strftime("%H:%M") || Time.now.strftime("%H:%M"), required: true %>
      </div>

      <div class="form-group container-fluid p-0">
        <%= form.label :duration %>
        <%= form.range_field :duration, min: 0, max: 600, step: 5, value: ticket.duration || 30, class: "duration-input", id: "durationInput#{day}", required: true %>
        <span id="durationInput<%= day %>Container">
          <%= time_conversion(ticket.duration || 30) %>
        </span>
      </div>
    </div>

    <hr>

    <div class="row m-0 p-0">
      <div class="col-12 m-0 p-0">
        <label class="mb-2">Members</label><br>
        <% @members.each do |member| %>
          <%= form.check_box "#{member.name}#{day}", class: "word-checkbox" %>
          <%= form.label "#{member.name}#{day}", member.name %>
        <% end %>
      </div>
      <div class="col-12 m-0 p-0">
        <label class="mb-2">Subjects</label><br>
        <% @subjects.each do |subject| %>
          <%= form.check_box "#{subject.name}#{day}", class: "word-checkbox" %>
          <%= form.label "#{subject.name}#{day}", subject.name %>
        <% end %>
      </div>
    </div>

    <div class="row m-0 p-0 mt-4">
      <div class="col">
        <%= form.submit :save, class: "btn btn-success container-fluid" %>
      </div>
      <% if ticket.category %>
        <div class="col">
          <%= link_to "Delete", ticket_path(ticket), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger container-fluid" %>
        </div>
      <% end %>
    </div>

    <hr/>

<% end %>

