<%= content_for :scripts do %>
  <%= javascript_pack_tag "duration" %>
<% end %>

<%= form_with(model: record) do |form| %>
  <div class="row m-0 p-0">
    <% if record.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(record.errors.count, "error" ) %> prohibited this record from being saved:
        </h2>
        <ul>
          <% record.errors.each do |error| %>
            <li>
              <%= error.full_message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% date = date || record&.date %>
    <% day = day || "edit" %>

    <p class="text-secondary p-0">Add the ticket information below.</p>

    <h4 class="p-0">Information</h4>
    <%= form.label :title %>
    <div class="input-group-icon">
      <%= form.text_field :title, class: "form-control input-style", placeholder: "Add title...", id: "commit#{day}" %>
      <div class="input-icon">
        <i class="fab fa-github"></i>
      </div>
    </div>

    <%= form.label :description, class: "required" %>
    <div class="input-group-icon mb-3">
      <%= form.text_area :description, class: "form-control large-textArea input-style", placeholder: "Add your description here...", id: "description#{day}", required: true %>
      <div class="input-icon">
        <i class="fas fa-info-circle"></i>
      </div>
    </div>

    <hr>

    <div class="px-0 py-1">
      <% @feature_types.each do |feature_type| %>
        <h4><%= form.label "#{feature_type.name}:" %></h4>
        <div class="px-0 py-1">
        <% feature_type.features.each do |feature| %>
          <% if feature.feature_ticket_type === "Select" %>
            <%= form.check_box "feature_checkboxes[#{feature.id}]", {checked: false, class: "word-checkbox"} %>
            <%= form.label "feature_checkboxes[#{feature.id}]", feature.name %>
          <% else %>
            <%= form.label "feature_text[#{feature.id}]", feature.name %>
            <%= form.text_field "feature_text[#{feature.id}]" %>
          <% end %>
        <% end %>
        </div>
        <hr>
      <% end %>
    </div>

    <h4 class="p-0">Time</h4>

    <%= form.label :date, class: "required" %>
    <%= form.date_field :date, format: "dd-mm-yyy", class: "form-control", id: "startTime#{day}", value: record&.date&.strftime("%Y-%m-%d") || DateTime.now.strftime("%Y-%m-%d"), required: true %>

    <%= form.label :start_time, class: "required" %>
    <%= form.time_field :start_time, class: "form-control", id: "startTime#{day}", value: record.start_time&.strftime("%H:%M") || Time.now.strftime("%H:%M"), required: true %>

    <div class="form-group container-fluid p-0">
      <%= form.label :duration, class: "required" %>
      <%= form.range_field :duration, min: 0, max: 600, step: 5, value: record.duration || 30, class: "duration-input", id: "durationInput#{day}", required: true %>
      <span id="durationInput<%= day %>Container">
        <%= time_conversion(record.duration || 30) %>
      </span>
    </div>

    <div class="row m-0 p-0 mt-4">
      <div class="col">
        <%= form.submit :save, class: "btn btn-success container-fluid" %>
      </div>
      <% if record.description.present? %>
        <div class="col">
          <%= link_to "Delete", ticket_path(record), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger container-fluid" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

