<div class="login-pageContainer">

  <div class="login-logo main-gradient">
    WA
  </div>

  <div class="login-wrapper">
  <h2 class="text-center"><b>Welcome Back</b></h2>
  <p class="text-center text-secondary mb-5">Enter your credentials to access your account.</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.label :email %>
    <div class="input-group-icon">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email", class: "form-control input-style" %>
      <div class="input-icon">
        <i class="fa fa-user"></i>
      </div>
    </div>

    <%= f.label :password %>
    <div class="input-group-icon">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter your password", class: "form-control input-style" %>
      <div class="input-icon">
        <i class="fa fa-key"></i>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me, class: "normal-checkbox" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Sign in", class: "signin-button" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
